@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$small: 800px;

.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #242121;
}

main {
  height: max-content;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;

  svg {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill: #fff;
  }

  span {
    display: none;

    @media (min-width: 600px) {
      display: initial;
    }
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

.brand {
  font-weight: bold;
  font-size: 20px;
}

.site-header {
  position: relative;
  background-color: #292828;
}

.site-header__start {
  display: flex;
  align-items: center;

  a {
    color: #fff;
  }
}

.site-header__end {
  display: flex;
  align-items: center;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $small) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav__wrapper {
  @media (min-width: $small) {
    display: flex;
  }

  @media (max-width: $small - 1) {
    position: absolute;
    top: calc(100% + 35px);
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #373737;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;

    &.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  a {
    display: grid;
    place-items: center;
    gap: .5rem;
    padding: 1rem;
    border-left: 4px solid transparent;

    @media (min-width: $small) {
      text-align: center;
      border-left: 0;
      border-bottom: 4px solid transparent;
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
    }

    span {
      color: #fff;
    }
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin-right: 1rem;
    color: #fff;

    @media (min-width: $small) {
      display: block;
      margin: 0 auto 0.5rem;
    }
  }

  &:hover {
    a {
      @media (min-width: $small) {
        border-bottom-color: #fff;
      }
    }
  }

  &.active {
    a {
      border-left-color: #fff;

      @media (min-width: $small) {
        border-bottom-color: #fff;
      }
    }
  }
}

.nav__toggle {
  display: none;

  @media (max-width: $small - 1) {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.search {
  display: flex;
  margin-left: 1rem;
}

.search__toggle {
  appearance: none;
  order: 1;
  font-size: 0;
  width: 34px;
  height: 34px;
  background: url('/img/search.svg') center right/22px no-repeat;
  border: 0;
  color: #fff;
  // display: none;

  @media (min-width: $small) {
    // border-left: 1px solid #979797;
    padding-left: 10px;
  }

  @media (max-width: $small - 1) {
    position: absolute;
    right: 5.5rem;
    top: 0.65rem;
    background: url('/img/search.svg') center/22px no-repeat;
  }
}

.search__form {
  //display: none;
  display: block;

  &.active {
    display: block;
  }

  @media (max-width: $small - 1) {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    //display: none;

    input {
      width: 100%;
    }
  }

  input {
    min-width: 400px;
    height: 33px;
    appearance: none;
    border: 0;
    background-color: #373737;
    border-radius: 0;
    font-size: 16px;
    padding: 0.5rem;

    @media (max-width: $small - 1) {
      border-bottom: 1px solid #979797;
    }
  }
}

.inactive-item {
  opacity: 0;
}

main {
  margin: 2rem 0;
}

.recently {
  display: flex;
  gap: 2rem;
  padding: 4rem;
}

.card {
  position: relative;
  display: flex;
  width: 50%;
  border-radius: 5px;

  &__image {
    position: absolute;
    left: -1rem;
    top: -1rem;
    transform: rotate(-3deg);
    flex-shrink: 0;
    width: 200px;
    height: 300px;
  }

  &__empty {
    flex-shrink: 0;
    width: 200px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
  }

  h3,
  p {
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
  }

  h3 {
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    -webkit-line-clamp: 1;
  }

  &__desc {
    font-size: 0.75rem;
    color: #d2d2d2;
    -webkit-line-clamp: 5;
  }

  &__genre {
    font-size: 0.75rem;
    font-weight: 300;
    color: #e2e2e2;
    text-align: center;
  }

  button {
    margin: 0 auto;
    appearance: none;
    border: 1px solid #ffffff;
    background: transparent;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 1;
    }

    &:focus {
      outline: 3px solid #fff;
      outline-offset: -2px;
    }
  }

  &_green {
    background: rgba(113, 197, 244, 0.38);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  }

  &_pink {
    background: rgba(171, 113, 244, 0.38);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  }
}

.search {
  .filter {
    padding: 2rem;
    width: 30%;
    background: #232222;
    border: 1px solid #393939;
    border-radius: 5px;
    margin-right: 2rem;

    &__inputs {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    h4 {
      position: relative;
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 1.25rem;
      color: #fff;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50px;
        height: 2px;
        background-color: #fff;
      }
    }

    label {
      font-size: 1rem;
      color: #fff;
      cursor: pointer;
    }

  }

  .books {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .book {
    width: 200px;
    height: 300px;
    transition: .3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.5);
    }
  }
}

footer {
  height: 6rem;
  margin-top: auto;
  background: #292828;
}
